@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  display: flex;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: fixed;
}

#navbar {
  width: 350px;
  border-right: 3px solid #222;
  height: 100vh;
}

#navbar ul {
  height: 75vh;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: static;
}

#navbar li {
  position: relative;
  list-style: none;
  border-top: 2px solid #222;
  width: 100%;
}

nav header {
  padding: 15px;
}

.nav-link {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  color: #444;
  cursor: pointer;
}

main header,
nav header {
  font-weight: 700;
  font-size: 1.8em;
}

#main-doc {
  margin-left: 20px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  margin: 15px;
  text-align: justify;
}

section li {
  margin: 15px 0px 0px 20px;
}

code pre {
  padding: 15px;
  background-color: #eee;
}

@media (max-width: 576px) {
  body {
    display: block;
    position: static;
  }

  #navbar {
    background-color: white;
    position: absolute;
    width: 100%;
    max-height: 300px;
    top: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 3px solid #222;
  }
  #navbar header {
    text-align: center;
  }
  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 300px;
    overflow-y: auto;
  }
  #navbar ul {
    height: 207px;
  }
}
